<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-900 text-white">
     
<div class="w-full  p-10 text-white"></div>
<a class="text-blue-500" href="/">back to home</a>
        <h1 class="text-3xl mt-10 tracking-tighter mb-3">All users</h1>
         <div class="users flex gap-3 flex-wrap">
        <% if(users.length >0) { %>
            <% users.forEach(function(user){ %>
                <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                    <div class="w-full h-72 rounded-lg bg-zinc-700 overflow-hidden">
                        <img class="w-full h-full object-cover object-center" src="<%= user.image %>" alt="">
                    </div>
                    <h3 class="text-xl tracking-tighter mt-3  "><%= user.name %></h3>
                    <h4 class="text-zinc-500"><%= user.email %></h4>
                    <div class="flex gap-3 mt-10">
                        <a class="text-zinc-200" href="/edit/<%= user._id %>">Edit User</a>
                        <a class="text-red-500" href="/delete/<%= user._id %>">Delete User</a>
                    </div>
                </div>
                
                <% }) %>
        <% } else{ %>
            <h4 class="text-zinc-600">no users yet</h4>
                
                <% } %>
            </div>
         </div>
</body>
</html>